<body class="text-center">
        <div style="margin: 20% auto; width: 50%;">
            <form class="form-signin" ng-submit="login(username, password)">
                <label for="username" class="sr-only">Username</label> <input
                    type="text" ng-model="username" id="username" class="form-control"
                    placeholder="Username" required autofocus> <label
                    for="password" class="sr-only">Password</label> <input
                    type="password" ng-model="password" id="password"
                    class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
                <div ng-if="!isAuthenticated">
                    <h1 class="h3 mb-3 font-weight-normal" style="color : red; margin-left: 240px">Invalid credentials !</h1>
                </div>
                <p class="mt-5 mb-3 text-muted">Created By : Priyank Bhavsar &copy; 2018</p>
            </form>
        </div>
    </body>